*{
  margin: 0;
  padding: 0;
  display: border-box;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  max-width: 1440px;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0px; 
}
.app-wrapper-content{
    grid-area: c;
    background-color: rgb(255, 255, 255)
}



